/*
Name: Liam Nguyen
Date created:
Date Modified:
Purpose: Homework 1 css
*/

header {
    width: 100%;
    background-color: rgb(79, 87, 12);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 235, 144);
    margin: 0;
    height: 100%;
    max-height: 100%;
    min-height: 100vh; /*make sure the page is height of the viewport */
}

form {
  flex-grow: 1;
}

h1, h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  flex-grow: 1;
}

main {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  flex-grow: 1;
}

.image {
  text-align: left;
}

.td1 {
  text-align: right;
  font-family: "optima", sans-serif;
  font-weight: normal;
}

th {
  text-align: center;
  font-family: "optima", sans-serif;
}

footer {
  position: flex;
  bottom: 0;
  width: 100%;
  background-color:rgb(79, 87, 12) ;
  height: 3.0 rem;
}

#footer {
  text-align: right;
  font-family: "optima", sans-serif;
  font-weight: normal;
  margin-right: 10px;
}

label {
  text-align: right;
  font-family: "optima", sans-serif;
  font-weight: normal;
}

input {
  text-align: left;
  font-family: "optima", sans-serif;
  font-weight: normal;
}

textarea {
  text-align: left;
  font-family: "optima", sans-serif;
  font-weight: normal;
}

#today {
  text-align: left;
  font-family: "optima", sans-serif;
  font-weight: normal;
  margin-right: 5px;
}